:root {
    --textNormal: #ffffffe0;
    --red: #e74c3c;
    --blue: #007bff;
    --padding: 20px;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro.eot');
    src: local('Apercu Pro'), local('ApercuPro'),
        url('font/ApercuPro.eot?#iefix') format('embedded-opentype'),
        url('font/ApercuPro.woff2') format('woff2'),
        url('font/ApercuPro.woff') format('woff'),
        url('font/ApercuPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro-Medium.eot');
    src: local('Apercu Pro Medium'), local('ApercuPro-Medium'),
        url('font/ApercuPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/ApercuPro-Medium.woff2') format('woff2'),
        url('font/ApercuPro-Medium.woff') format('woff'),
        url('font/ApercuPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('ApercuPro-Bold.eot');
    src: local('Apercu Pro Bold'), local('ApercuPro-Bold'),
        url('font/ApercuPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/ApercuPro-Bold.woff2') format('woff2'),
        url('font/ApercuPro-Bold.woff') format('woff'),
        url('font/ApercuPro-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

html,body {
    height: 100%;
}

body {
    max-width: 750px;
    margin: auto;
    padding: 0 1rem;
    background-color: #171c28;
    color: var(--textNormal);
    font-family: 'Apercu Pro', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    padding: 4rem 0;
}

header h1 {
    font-size: 4.5rem;
    padding: 1rem 0;
    margin: 0;
    /* color: var(--blue); */
}
header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li:not(:first-child) {
    padding: 0 0 0 20px;
}

header nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--textNormal);
    letter-spacing: 1px;
    position: relative;
}

/* header nav ul li a.active {
} */

header nav ul li a:visited {
    color: var(--textNormal);
}

header nav ul li a:not(.wip):hover {
    color: #A1ACB3;
}

header nav ul li a:not(.wip):after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #007bff;
    content: '';
    height: 2px;
    border-radius: 3px;
    opacity: 0;
    transform: translateY(0);
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
}

header nav ul li a:not(.wip):hover:after{
    opacity: 1;
    transform: translateY(3px);
}

.intro {
    display: flex;
    align-items: center;
}

.intro .intro-photo img {
    width: 150px;
    border-radius: 50%;
    filter: grayscale(1);
    margin: 0 2rem 0 0;
}


.intro .intro-description p {
    font-size: 1.15rem;
    line-height: 1.45em;
    margin: 0;
}

section h2 {
font-size: 2.25rem;
    margin: 0 0 1rem;
}

section:not(:first-of-type ) {
    border-top: 2px var(--blue) solid;
    margin-top: 5rem;
}

section:not(:first-of-type) h2 {
    margin: 2.5rem 0;
}

footer {
    /* margin: auto 0 1.45rem; */
    margin: 2rem 0;
}

footer p {
    display: flex;
    justify-content: center;
    margin: 0;
}

footer p i {
    width: 18px;
    height: 100%;
}

footer p i.red {
    color: var(--red);
}

.language__row {
    display: flex;
    justify-content: space-around;
    margin-right: auto;
}

.language__row:not(:first-child) {
    border-top: 1px #353535 solid;
}

.language__row p {
    flex: 1;
}