:root {
  --pink1: #ED254E;
  --pink1: #ED254E;
  --yellow1: #F9DC5C;
  --textNormalWhite: #fff;
  --textNormalDark: #444452;
  --textNormalGray: #969696;
  --backgroundWhite: #fff;
  --backgroundDark: #171c28;
  --red: #EF3E36;
  --blue: #007bff;
}